<ul class="boat_navbar fixed-top">
  <div>
  <li><a href=<%= root_path%>><i class="fas fa-ship"></i></a></li>
  </div>

  <div>
    <img src="https://i.ibb.co/5B2br9h/das-boathaus-1.png" width="150px" style="opacity: .7" alt="das-boathaus-1" border="0">
  </div>

  <div>


    <div class="dropdown">
      <li><a href="about.asp"><i class="fas fa-user-alt"></i></a></li>
       <div class="dropdown-content">
      <%if current_user %>
        <a href=<%=boats_path%>>Browse Boats</a>
        <a href=<%=reservations_path%>>My bookings</a>
        <a href=<%=user_path(current_user)%>>My Profile</a>
        <a href=<%=new_boat_path(current_user)%>>New Boat</a>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      <%else%>
        <a href=<%=boats_path%>>Browse Boats</a>
        <a href=<%=user_session_path%>>Sign Up</a>
        <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
     
      <%end%>
    </div>
</div>

  </div>
</ul>

<!-- <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li> -->
