
<div class="row" style="margin-top:40px;">
    <div class="col-md-6">
      <div class="well well-sm">
            <div class="row" id="post-review-box">
              <h5>Leave a Review</h5>
                <div class="col-md-12">
                    <%= simple_form_for [@reservation, @review] do |f|%>
                      <%= f.input :title, html: {class: "form-control"} %>
                      <%= f.input :stars %>
                      <%= f.input :description, html: {class: "form-control animated", id:"new-review"} %>
                        <!-- <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea> -->

                        <div class="text-right">
                          <div class="form-group text-center">
                            <div id="stars_<%= reservation.id %>"></div>
                          </div>
                        <button class="btn btn-success btn-lg" type="submit">Save</button>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
  </div>


<script>

</script>
