<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<% reviews.each do |r| %>
  <div class="row blockquote review-item">
    <div class="col-md-3 text-center">
      <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
      <div class="caption">
        <small><%= r.user.name %></small>
      </div>

    </div>
    <div class="col-sm-12 col-md-9">
      <h4><%= r.title %></h4>
      <% 5.times do |num|%>
        <i class="fa<%= r.stars.to_s.to_i < (num + 1) ? "r" : "s" %> fa-star text-warning"></i>
      <% end %>

      <div class="ratebox text-center" data-id="0" data-rating="5"></div>
      <p><%= r.description %></p>

      <small><%= r.created_at.strftime("%v") %></small>
    </div>
  </div>
<% end %>
