<h1>Reviews#new</h1>
<%#= render 'form' %>
<div class="col-5">
  <%= simple_form_for @review do |f|%>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :stars %>
  <%= f.submit "Add Review" %>
  <% end %>
</div>
