  <form class="search_form" action=<%=boats_path%> method="get">
    <div>
    <div class="search_bar">
      <row>
           <input id="city_search" type="text" size=20 placeholder="City" name="location"><input type="number" size="10" placeholder="Distance" name = "distance"><input type="date" id="start_date" placeholder="Start Date" name = "start_date"><input type="date" placeholder="End Date" name="end_date"><input type="number" id="guests-index" size="10" placeholder="Guests" name="guests"><input type="submit" value="Find a Boat" class="btn-ghost-index">
      </row>
    </div>
    </div>
    <!-- <a class="btn-ghost" href="#">Find Boats</a> -->
    </form>
    <br>
    <br>




<div class="boats_list">
    <% @boats.each do |boat| %>
     <%= link_to boat_path(boat) do %>
<div class="boats-index-card">
<div class="container">
    <div class="boats-index-card">
<div class="container">
    <div class="post">
                <div class="header_post">
            <% if boat.photo.attached? %>
          <%= cl_image_tag boat.photo.key, height: 450, width: 800, crop: :fill %>
        <% end %>
        </div>

        <div class="body_post">
            <div class="post_content">

                <h1><%=boat.description%></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi assumenda cumque deserunt
                    dolorum ex exercitationem.</p>

                <div class="container_infos">
                    <div class="postedBy">
                        <span>Rented by</span>
                        <%=boat.user.name%>                    </div>

                    <div class="container_tags">
                        <span></span>
                        <div class="tags">
                            <ul>
                                <li>$<%=boat.price%></li>
                                <li>Book</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>
    <% end %>
    <br>
    <br>
    <% end %>

<%= render 'boat_map', markers: @markers %>
</div>

<!--

  <div class="boats_list">
    <% @boats.each do |boat| %>
      <%= link_to boat_path(boat) do %>
      <div class="card-trip">

        <% if boat.photo.attached? %>
          <%= cl_image_tag boat.photo.key, height: 300, width: 600, crop: :fill %>
        <% end %>

        <div class="card-trip-infos">
          <div>
            <h2><%= boat.description %></h2>
            <p><%= boat.location %></p>
          </div>
          <h2 class="card-trip-pricing"><%= boat.price %></h2>
          <a href=<%=user_path(boat.user)%>>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </a>
        </div>
      </div>
      <% end %>
    <% end %>

  </div>

<%= render 'boat_map', markers: @markers %>

</div> -->

<!-- <div>
  <div class="boats_list">
    <% @boats.each do |boat| %>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2><%= boat.description %></h2>
        <p><%= boat.location %></p>
      </div>
      <h2 class="card-trip-pricing"><%= boat.price %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <% end %>

  </div>
</div>
-->

