

  <div class="boats_list">
    <% @boats.each do |boat| %>
      <%= link_to boat_path(boat) do %>
      <div class="card-trip">

        <% if boat.photo.attached? %>
          <%= cl_image_tag boat.photo.key, height: 300, width: 600, crop: :fill %>
        <% end %>

        <div class="card-trip-infos">
          <div>
            <h2><%= boat.description %></h2>
            <p><%= boat.location %></p>
          </div>
          <h2 class="card-trip-pricing"><%= boat.price %></h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <% end %>
    <% end %>

  </div>




<%= render 'boat_map', markers: @markers %>






<%= link_to 'New Boat', new_boat_path %>
</div>
-->
<!-- <div>
  <div class="boats_list">
    <% @boats.each do |boat| %>

  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
      <div>
        <h2><%= boat.description %></h2>
        <p><%= boat.location %></p>
      </div>
      <h2 class="card-trip-pricing"><%= boat.price %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>
  </div>
  <% end %>

  </div>
</div>
-->

